nodered.json
[
    {
        "id": "bb2f4c10b1cc2155",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7d6dd4e6d111ef38",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#1800cc",
                "baseFont": "Arial Black,Arial Black,Gadget,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#1b464b",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#091677",
                "baseFont": "Arial,Arial,Helvetica,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": true
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "base-font": {
                    "value": "Arial Black,Arial Black,Gadget,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "NodeRED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 0,
                "gy": 0,
                "cx": 0,
                "cy": 0,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5a0866ac8e8ffba3",
        "type": "canconfig",
        "channel": "can1",
        "bitrate": "250000"
    },
    {
        "id": "f1881403c636972e",
        "type": "MySQLdatabase",
        "name": "",
        "host": "192.168.88.40",
        "port": "3306",
        "db": "komatsu_horno_db",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "be68b8ea644ec519",
        "type": "mqtt-broker",
        "name": "",
        "broker": "soldier.cloudmqtt.com",
        "port": "15258",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5812b724d85a5a32",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 22,
        "collapse": false,
        "className": ""
    },
    {
        "id": "115835dd32af515a",
        "type": "ui_spacer",
        "z": "bb2f4c10b1cc2155",
        "name": "spacer",
        "group": "5812b724d85a5a32",
        "order": 2,
        "width": 11,
        "height": 1
    },
    {
        "id": "f3789bc4b4d711b0",
        "type": "ui_spacer",
        "z": "bb2f4c10b1cc2155",
        "name": "spacer",
        "group": "5812b724d85a5a32",
        "order": 3,
        "width": 11,
        "height": 1
    },
    {
        "id": "900b45c4536660ac",
        "type": "ui_spacer",
        "z": "bb2f4c10b1cc2155",
        "name": "spacer",
        "group": "5812b724d85a5a32",
        "order": 4,
        "width": 11,
        "height": 1
    },
    {
        "id": "8f47081a0145f545",
        "type": "ui_spacer",
        "z": "bb2f4c10b1cc2155",
        "name": "spacer",
        "group": "5812b724d85a5a32",
        "order": 5,
        "width": 11,
        "height": 1
    },
    {
        "id": "3f1fb26c8f34d017",
        "type": "ui_spacer",
        "z": "bb2f4c10b1cc2155",
        "name": "spacer",
        "group": "5812b724d85a5a32",
        "order": 6,
        "width": 11,
        "height": 1
    },
    {
        "id": "84a95b0e532ee017",
        "type": "ui_spacer",
        "z": "bb2f4c10b1cc2155",
        "name": "spacer",
        "group": "5812b724d85a5a32",
        "order": 7,
        "width": 11,
        "height": 1
    },
    {
        "id": "095b11f7e8b1d7c9",
        "type": "ui_spacer",
        "z": "bb2f4c10b1cc2155",
        "name": "spacer",
        "group": "5812b724d85a5a32",
        "order": 8,
        "width": 11,
        "height": 1
    },
    {
        "id": "7c0edb6c74e47f75",
        "type": "ui_spacer",
        "z": "bb2f4c10b1cc2155",
        "name": "spacer",
        "group": "5812b724d85a5a32",
        "order": 9,
        "width": 22,
        "height": 1
    },
    {
        "id": "1f41e24340b1b57b",
        "type": "ui_spacer",
        "z": "bb2f4c10b1cc2155",
        "name": "spacer",
        "group": "5812b724d85a5a32",
        "order": 10,
        "width": 22,
        "height": 1
    },
    {
        "id": "2a1103127f3eb386",
        "type": "ui_spacer",
        "z": "bb2f4c10b1cc2155",
        "name": "spacer",
        "group": "5812b724d85a5a32",
        "order": 11,
        "width": 22,
        "height": 1
    },
    {
        "id": "18c6b9c3a1729978",
        "type": "ui_spacer",
        "z": "bb2f4c10b1cc2155",
        "name": "spacer",
        "group": "5812b724d85a5a32",
        "order": 12,
        "width": 22,
        "height": 1
    },
    {
        "id": "a0559300c64496b7",
        "type": "ui_spacer",
        "z": "bb2f4c10b1cc2155",
        "name": "spacer",
        "group": "5812b724d85a5a32",
        "order": 13,
        "width": 22,
        "height": 1
    },
    {
        "id": "557dd8d9f7a27e5a",
        "type": "ui_spacer",
        "z": "bb2f4c10b1cc2155",
        "name": "spacer",
        "group": "5812b724d85a5a32",
        "order": 14,
        "width": 22,
        "height": 1
    },
    {
        "id": "2a86ec22e069bcd3",
        "type": "ui_spacer",
        "z": "bb2f4c10b1cc2155",
        "name": "spacer",
        "group": "5812b724d85a5a32",
        "order": 15,
        "width": 22,
        "height": 1
    },
    {
        "id": "068ee82f55685fd2",
        "type": "ui_spacer",
        "z": "bb2f4c10b1cc2155",
        "name": "spacer",
        "group": "5812b724d85a5a32",
        "order": 16,
        "width": 22,
        "height": 1
    },
    {
        "id": "4bda98489e8baaa9",
        "type": "ui_spacer",
        "z": "bb2f4c10b1cc2155",
        "name": "spacer",
        "group": "5812b724d85a5a32",
        "order": 17,
        "width": 22,
        "height": 1
    },
    {
        "id": "2019bd4ba1282905",
        "type": "ui_spacer",
        "z": "bb2f4c10b1cc2155",
        "name": "spacer",
        "group": "5812b724d85a5a32",
        "order": 19,
        "width": 11,
        "height": 1
    },
    {
        "id": "8072973f8f1d5a62",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "c0b12e888d17b468",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "44cd91f7e9d6d33e",
        "type": "ui_group",
        "name": "Data AXOTEC",
        "tab": "c0b12e888d17b468",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "10a08abdc9884a81",
        "type": "ui_group",
        "name": "Default",
        "tab": "93908960fb9f98e5",
        "order": 1,
        "disp": true,
        "width": 22,
        "collapse": false,
        "className": ""
    },
    {
        "id": "93908960fb9f98e5",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fa55e7154693ef08",
        "type": "ui_spacer",
        "z": "bb2f4c10b1cc2155",
        "name": "spacer",
        "group": "10a08abdc9884a81",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "17d3941bcf6add66",
        "type": "ui_spacer",
        "z": "bb2f4c10b1cc2155",
        "name": "spacer",
        "group": "10a08abdc9884a81",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "22d57494e73f165f",
        "type": "ui_spacer",
        "z": "bb2f4c10b1cc2155",
        "name": "spacer",
        "group": "10a08abdc9884a81",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "4f3de452a8750584",
        "type": "ui_spacer",
        "z": "bb2f4c10b1cc2155",
        "name": "spacer",
        "group": "10a08abdc9884a81",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "2e729a47f074bfce",
        "type": "ui_spacer",
        "z": "bb2f4c10b1cc2155",
        "name": "spacer",
        "group": "10a08abdc9884a81",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "1696ee8a728b7148",
        "type": "ui_spacer",
        "z": "bb2f4c10b1cc2155",
        "name": "spacer",
        "group": "10a08abdc9884a81",
        "order": 8,
        "width": 22,
        "height": 1
    },
    {
        "id": "ab476cb26fcf0f46",
        "type": "ui_spacer",
        "z": "bb2f4c10b1cc2155",
        "name": "spacer",
        "group": "10a08abdc9884a81",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "f3ccddf588522513",
        "type": "ui_spacer",
        "z": "bb2f4c10b1cc2155",
        "name": "spacer",
        "group": "10a08abdc9884a81",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "75a20e4415b6f7dc",
        "type": "ui_spacer",
        "z": "bb2f4c10b1cc2155",
        "name": "spacer",
        "group": "10a08abdc9884a81",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "16cf90d8c0a466f7",
        "type": "ui_spacer",
        "z": "bb2f4c10b1cc2155",
        "name": "spacer",
        "group": "10a08abdc9884a81",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "4a46fbd607e15aad",
        "type": "ui_spacer",
        "z": "bb2f4c10b1cc2155",
        "name": "spacer",
        "group": "10a08abdc9884a81",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "a4aae1cd8c1b54be",
        "type": "ui_spacer",
        "z": "bb2f4c10b1cc2155",
        "name": "spacer",
        "group": "10a08abdc9884a81",
        "order": 17,
        "width": 12,
        "height": 1
    },
    {
        "id": "15bd439ed12edf36",
        "type": "ui_spacer",
        "z": "bb2f4c10b1cc2155",
        "name": "spacer",
        "group": "10a08abdc9884a81",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "a5d59eb828571c8e",
        "type": "ui_spacer",
        "z": "bb2f4c10b1cc2155",
        "name": "spacer",
        "group": "10a08abdc9884a81",
        "order": 20,
        "width": 3,
        "height": 1
    },
    {
        "id": "ebe31f001fe4714e",
        "type": "ui_spacer",
        "z": "bb2f4c10b1cc2155",
        "name": "spacer",
        "group": "10a08abdc9884a81",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "f380cebb675d50a4",
        "type": "ui_spacer",
        "z": "bb2f4c10b1cc2155",
        "name": "spacer",
        "group": "10a08abdc9884a81",
        "order": 23,
        "width": 3,
        "height": 1
    },
    {
        "id": "793548344448022f",
        "type": "ui_spacer",
        "z": "bb2f4c10b1cc2155",
        "name": "spacer",
        "group": "10a08abdc9884a81",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "4584139463d0d5bd",
        "type": "ui_spacer",
        "z": "bb2f4c10b1cc2155",
        "name": "spacer",
        "group": "10a08abdc9884a81",
        "order": 26,
        "width": 3,
        "height": 1
    },
    {
        "id": "9dbb6b94ddf27536",
        "type": "ui_spacer",
        "z": "bb2f4c10b1cc2155",
        "name": "spacer",
        "group": "10a08abdc9884a81",
        "order": 27,
        "width": 1,
        "height": 1
    },
    {
        "id": "e449d5fa14d59d78",
        "type": "ui_spacer",
        "z": "bb2f4c10b1cc2155",
        "name": "spacer",
        "group": "10a08abdc9884a81",
        "order": 29,
        "width": 3,
        "height": 1
    },
    {
        "id": "550a8c67c51d3693",
        "type": "mqtt in",
        "z": "bb2f4c10b1cc2155",
        "name": "",
        "topic": "/gps_speed",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "be68b8ea644ec519",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 500,
        "wires": [
            [
                "93261f57630ada0c"
            ]
        ]
    },
    {
        "id": "3a1b64d55298bb76",
        "type": "mqtt in",
        "z": "bb2f4c10b1cc2155",
        "name": "",
        "topic": "/obd2_speed",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "be68b8ea644ec519",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 600,
        "wires": [
            [
                "67f146b2d2ed435b",
                "010b0894a5c7d9b3"
            ]
        ]
    },
    {
        "id": "5ac6a41b95b08c71",
        "type": "mqtt in",
        "z": "bb2f4c10b1cc2155",
        "name": "",
        "topic": "/speed_filtered",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "be68b8ea644ec519",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 700,
        "wires": [
            [
                "fc070ff89b80126a",
                "3074712aa20519f1"
            ]
        ]
    },
    {
        "id": "fc070ff89b80126a",
        "type": "ui_chart",
        "z": "bb2f4c10b1cc2155",
        "name": "",
        "group": "10a08abdc9884a81",
        "order": 9,
        "width": 10,
        "height": 5,
        "label": "Velocidad filtrada",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "93261f57630ada0c",
        "type": "ui_chart",
        "z": "bb2f4c10b1cc2155",
        "name": "",
        "group": "10a08abdc9884a81",
        "order": 16,
        "width": 10,
        "height": 5,
        "label": "Velocidad GPS",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "67f146b2d2ed435b",
        "type": "ui_chart",
        "z": "bb2f4c10b1cc2155",
        "name": "",
        "group": "10a08abdc9884a81",
        "order": 10,
        "width": 10,
        "height": 5,
        "label": "Velocidad OBD2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "6a03184a0b081cd6",
        "type": "ui_gauge",
        "z": "bb2f4c10b1cc2155",
        "name": "",
        "group": "10a08abdc9884a81",
        "order": 1,
        "width": 10,
        "height": 5,
        "gtype": "gage",
        "title": "Velocidad filtrada",
        "label": "Km/h",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 630,
        "y": 380,
        "wires": []
    },
    {
        "id": "3074712aa20519f1",
        "type": "function",
        "z": "bb2f4c10b1cc2155",
        "name": "function 1",
        "func": "msg.payload = Math.round(msg.payload*3.8);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 400,
        "wires": [
            [
                "6a03184a0b081cd6"
            ]
        ]
    },
    {
        "id": "b6dcefa95b0d5ac9",
        "type": "ui_gauge",
        "z": "bb2f4c10b1cc2155",
        "name": "",
        "group": "10a08abdc9884a81",
        "order": 2,
        "width": 10,
        "height": 5,
        "gtype": "gage",
        "title": "Velocidad obd2",
        "label": "Km/h",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 640,
        "y": 300,
        "wires": []
    },
    {
        "id": "010b0894a5c7d9b3",
        "type": "function",
        "z": "bb2f4c10b1cc2155",
        "name": "function 2",
        "func": "msg.payload = Math.round(msg.payload*3.8);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 320,
        "wires": [
            [
                "b6dcefa95b0d5ac9"
            ]
        ]
    },
    {
        "id": "9de6fc6b02f1785a",
        "type": "mqtt out",
        "z": "bb2f4c10b1cc2155",
        "name": "",
        "topic": "/record_data",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "be68b8ea644ec519",
        "x": 530,
        "y": 780,
        "wires": []
    },
    {
        "id": "7b7f62259b18fcb8",
        "type": "ui_button",
        "z": "bb2f4c10b1cc2155",
        "name": "",
        "group": "10a08abdc9884a81",
        "order": 22,
        "width": 8,
        "height": 1,
        "passthru": false,
        "label": "start_button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Start",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 780,
        "wires": [
            [
                "9de6fc6b02f1785a"
            ]
        ]
    },
    {
        "id": "835e8a5677b94d43",
        "type": "ui_button",
        "z": "bb2f4c10b1cc2155",
        "name": "",
        "group": "10a08abdc9884a81",
        "order": 25,
        "width": 8,
        "height": 1,
        "passthru": false,
        "label": "stop_button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Stop",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 840,
        "wires": [
            [
                "9de6fc6b02f1785a"
            ]
        ]
    },
    {
        "id": "c217c6bc2f7126be",
        "type": "ui_button",
        "z": "bb2f4c10b1cc2155",
        "name": "",
        "group": "10a08abdc9884a81",
        "order": 28,
        "width": 8,
        "height": 1,
        "passthru": false,
        "label": "restart_button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Restart",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 920,
        "wires": [
            [
                "9de6fc6b02f1785a"
            ]
        ]
    },
    {
        "id": "20e39c5a39668df2",
        "type": "ui_text",
        "z": "bb2f4c10b1cc2155",
        "group": "10a08abdc9884a81",
        "order": 19,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Data logger",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 490,
        "y": 1020,
        "wires": []
    }
]